[Unit]
Description=VideoPI
After=netcfg@ethernet-eth0.service

[Service]
ExecStart=/root/VideoPI/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
