#pause .ui-icon {
	background: url("/static/img/pause.png");
	background-size: 18px 18px;
}
#stop .ui-icon {
	background: url("/static/img/stop.png");
	background-size: 18px 18px;
}
#volup .ui-icon {
	background: url("/static/img/volup.png");
	background-size: 18px 18px;
}
#voldown .ui-icon {
	background: url("/static/img/voldown.png");
	background-size: 18px 18px;
}

#qq .ui-icon, #qqmp4 .ui-icon {
	background: url("http://v.qq.com/favicon.ico");
	background-size: 18px 18px;
}

#youku .ui-icon {
	background: url("http://www.youku.com/favicon.ico");
	background-size: 18px 18px;
}

.well {
	min-height: 20px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #e5f1f4;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	      border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}