#pause .ui-icon {
	background: url("/static/img/pause.png");
	background-size: 18px 18px;
}
#stop .ui-icon {
	background: url("/static/img/stop.png");
	background-size: 18px 18px;
}
#volup .ui-icon {
	background: url("/static/img/volup.png");
	background-size: 18px 18px;
}
#voldown .ui-icon {
	background: url("/static/img/voldown.png");
	background-size: 18px 18px;
}

#qq .ui-icon, #qqmp4 .ui-icon {
	background: url("http://v.qq.com/favicon.ico");
	background-size: 18px 18px;
}

#youku .ui-icon {
	background: url("http://www.youku.com/favicon.ico");
	background-size: 18px 18px;
}

.ui-controlgroup-horizontal {
  display: table;
  margin: 0 auto;
}